:root {
   font-family: 'Lucida Sans';
   line-height: 1.5;
   font-weight: 400;

   color-scheme: light dark;
   color: rgba(255, 255, 255, 0.87);
   background-color: white;
}

body {
   font-family: 'Lucida Sans';
   padding: 0% 1%;
   box-sizing: border-box;
   background-color: white;
}

.titre {
   font-family: 'Lucida Sans';
   font-size: 2.5em;
   font-weight: 700;
   margin-bottom: 0.5em;
   color: #0d6efd;
   text-align: center;
}

.titre1 {
   font-family: 'Lucida Sans';
   font-size: 2.5em;
   font-weight: 700;
   margin-bottom: 0.5em;
   color: black;
   text-align: center;
}
.titre2 {
   font-family: 'Lucida Sans';
   font-size: 2em;
   margin-bottom: 0.5em;
   color: black;
   text-align: center;
}

.listeUser {
   font-family: 'Lucida Sans';
   font-size: 1em;
   margin-bottom: 0.5em;
   color: black;
   text-align: center;
}
.card {
   font-family: 'Lucida Sans';
   border-radius: 10px;
   padding: 1em;
   margin: 1em;
   box-shadow: 0px 8px 15px rgba(0, 0, 0, 0);
}

button {
   padding: 1.3em 3em;
   font-size: 12px;
   letter-spacing: 2.5px;
   font-weight: 500;
   color: #000;
   background-color: rgba(13, 136, 245, 0.512);
   border: 5px solid;
   border-color: black;
   border-radius: 45px;
   box-shadow: 0px 8px 15px rgba(0, 0, 0, 0);
   transition: all 0.3s ease 0s;
   cursor: pointer;
}

button:hover {
   background-color: rgba(13, 136, 245, 0.512);
   box-shadow: 0px 15px 20px rgba(13, 136, 245, 0.512);
   color: rgba(13, 136, 245, 0.512);
   transform: translateY(-7px);
}

button:active {
   transform: translateY(-1px);
}

.partage{
   height: 50px;
   width: 50px;
}